<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="description" content="" /> 
        <link rel="icon" type="image/png" sizes="32x32" href="./../assets/favicon.ico">
        <link rel="stylesheet" href="views.css" type="text/css"/>
        <title>นักวิเคราะห์อาวุธทางการทหาร mwt</title> 
    </head>
    <body> 
        <main>
            <article>
                <h1>นักวิเคราะห์อาวุธทางการทหาร (mwt)</h1>
                <img src="./../assets/career-images/cloud.jpg" alt="cloud-photo"/>
                <div>
                    <h2>คุณจะทำอะไร?</h2>
                        <ul class="lists">
                            <li class="list-item">ทำการตรวจสอบว่าอาวุธนั้นเป็นของประเทศอะไรชนิดอะไร</li>
                            <li class="list-item">ตรวจสอบว่ารถถังนั้นจะเป็นอะไรหรืออะไรทุกอย่าง</li> 
                            <li class="list-item">มั่นใจในความถูกต้องของข้อมูลก่อนประกาศเกี่ยวกับอุปกรณ์ทางทหาร</li>
                            <li class="list-item">ให้ข้อมูลเชิงลึกเกี่ยวกับชนิดของอาวุธและกลยุทธ์ที่เป็นไปได้จากข้อมูลที่รวบรวม </li>
                        </ul>
                    
                    <h2>สิ่งที่คุณควรมี</h2>
                        <ul class="lists">
                            <li class="list-item">ทักษะในการแก้ปัญหาและวิเคราะห์ที่แข็งแกร่ง: เราเน้นการแก้ปัญหาที่ต้นเหตุไม่ใช่แค่แก้ปัญหาชั่วคราว</li>
                            <li class="list-item">ความสามารถในการทำงานในสภาพแวดล้อมที่เปลี่ยนแปลงอย่างรวดเร็ว</li> 
                            <li class="list-item">ทักษะการสื่อสารที่ยอดเยี่ยม: คุณสามารถนำเสนอแนวคิด อัปเดต และผลลัพธ์ได้อย่างชัดเจน</li>
                            <li class="list-item">ความหลงใหลในเทคโนโลยีและอาวุธสงคราม ทั้งยุคเก่าและใหม่ </li>
                        </ul>
                </div>
            </article>

                    <h2>โบนัส (สิ่งที่คุณจะได้รับ)</h2>
                        <ul class="lists">
                            <li class="list-item">ประสบการณ์ตรงในการสร้างและดำเนินงาน</li>
                            <li class="list-item">ข้อมูลเกี่ยวกับเทคโนโลยีทางการทหารใหม่ๆ ทุกเดือน</li> 
                            <li class="list-item">การทำงานร่วมกับ CEO โดยตรง</li>                            
                        </ul>
            </div>
            <div>
                    </li>
                </ul>
            </div>
        </main>
    </body>
</html> 
